@model Web_bán_hàng__đồ_án_.Models.Product

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<h2>Details</h2>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductPrice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductImage)
        </dt>
        <dd>
            @if (!string.IsNullOrEmpty(Model.ProductImage))
            {
                <img src="@Url.Content(Model.ProductImage)" alt="Product Image" style="max-width: 300px; height: auto;" />
            }
            else
            {
                <p>No image available</p>
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StockQuantityPro)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StockQuantityPro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BrandPro)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BrandPro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category.CategoryName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Category.CategoryName)
        </dd>

    </dl>
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProductID }) |
    @Html.ActionLink("Back to List", "Index")
</p>