
@{
    ViewBag.Title = "History";
    Layout = "~/Views/Shared/_LayoutWeb.cshtml";
}

<div class="container mt-4">
    <h2>Lịch Sử Đặt Hàng</h2>
    @if (Model.Count > 0)
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Mã</th>
                    <th>Ngày đặt hàng</th>
                    <th>Tổng tiền</th>
                    <th>Trạng thái</th>
                    <th>Hành động</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var order in Model)
                {
                    <tr>
                        <td>@order.OrderID</td>
                        <td>@order.OrderDate.ToString("dd/MM/yyyy")</td>
                        <td>@order.TotalAmount.ToString("C")</td>
                        <td>@order.PaymentStatus</td>
                        <td>
                            <a href="@Url.Action("HistoryDetails", "Account", new { id = order.OrderID })" class="btn btn-info btn-sm">Xem Chi Tiết</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>Bạn chưa có đơn hàng nào.</p>
    }
</div>
